@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/Circular-Std-Book.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Bold';
  src: url('../fonts/Circular-Std-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Medium';
  src: url('../fonts/circular-std-medium.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --circular-std-book: 'Circular Std Book';
  --circular-std-bold: 'Circular Std Bold';
  --circular-std-medium: 'Circular Std Medium';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  background: #F6F6F6
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
